@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Source+Sans+Pro:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("weather-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 70px;
  color: #fff;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-weight: 100;
}

.date-container .time {
  font-size: 70px;
  font-weight: 100;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .city {
  font-size: 30px;
  font-weight: 150;
}

.place-container .country {
  font-size: 18px;
  font-weight: 800;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(56, 56, 77, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.lower-container {
  background: rgba(56, 56, 77, 0.3);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.lower-container .weather-forecast {
  display: flex;
}

.lower-container .city-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.lower-container .city-search .search-heading {
  padding: 5px 15px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.weather-forecast .weather-forecast-item .date {
  padding: 5px 15px;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(27, 27, 34, 0.3);
}

.form-item {
  background-color: rgba(224, 224, 230, 0.8);
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  border-color: white;
  margin: 2px;
  border: 1px solid #eee;
  text-align: center;
}

#search-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(58, 55, 57);
}

@media only screen and (max-width: 730px) {
  .container {
    padding: 20px;
  }
  .lower-container {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }
}

ul {
  padding: 1px;
  background-color: rgba(27, 27, 34, 0.3);
  width: 100%;
  border-radius: 5px;
  border-color: white;
  margin: 2px;
  border: 1px solid #eee;
  text-align: center;
  list-style-type: none;
}

.w-icon {
  width: 100px;
  height: 100px;
}

#uvSet {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border-color: white;
  font-weight: 400;
}

.weather-item {
  font-weight: 300;
}

li {
  padding-left: 10px;
  padding-bottom: 5px;
  display: block;
}
